@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFF8F4; /* heaven-peach base */
  --foreground: #001F3F; /* heaven-navy base */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, .font-playfair {
  font-family: var(--font-playfair), serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
